boto3==1.38.38
confluent_kafka==2.4.0
findspark==2.0.1
influxdb_client==1.48.0
numpy==2.3.0
pandas==2.3.0
py4j==0.10.9.7
python-dotenv==1.1.0
Requests==2.32.4
torch==2.7.1
typing_extensions==4.14.0
websockets==15.0.1
